<div class="card-Container">
    <div class="row">
        <div class="">
            <mat-card class="example-card" *ngFor="let favItem of favList" >
                <!--card header-->
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{favItem.name_with_namespace}}</mat-card-title>
                </mat-card-header>
                <mat-divider></mat-divider>
                
                <!--card content-->
                <mat-card-content>
                    <p>Description:
                        {{favItem.description}}
                    </p>
                </mat-card-content>
                <br/>

                <mat-divider></mat-divider>
                <br/>

                <mat-card-content>
                   <mat-icon>stars</mat-icon>{{favItem.star_count}}
                   &nbsp;&nbsp;&nbsp;&nbsp;
                   <mat-icon>call_split</mat-icon>{{favItem.forks_count}}
                   &nbsp;&nbsp;&nbsp;&nbsp;
                   <mat-icon>question_answer</mat-icon>{{favItem.open_issues_count}}
                   &nbsp;&nbsp;&nbsp;&nbsp;
                </mat-card-content>

                <mat-divider></mat-divider>
               
                &nbsp;&nbsp;&nbsp;&nbsp;
                <mat-card-content>
                    <button mat-button class="btn btn-secondary" (click)="delete(favItem.id)"> Delete  Favourite </button>
                </mat-card-content>
                &nbsp;&nbsp;&nbsp;&nbsp;


            
            </mat-card>

        </div>
                         
    </div>
             
</div>       
